.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;

    &__link {
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        box-sizing: border-box;
        display: block;

        @media (max-width: 500px) {
            color: #8f5c2c;
            width: 100%;
            padding: 0;
            border-bottom: none;
        }

        &_active,
        &:hover,
        &:active {
            background-color: #8f5c2c;
            border-bottom: 4px solid #40a4c8;
            color: white;

            @media (max-width: 500px) {
                color: #40a4c8;
                background: none;
                border-bottom: none;
            }
        }

    }
    @media (max-width: 500px) {
        margin: 10px 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}
