.CheckoutSummary{
    text-align: center;;
    margin: auto;

    &__burger {
        width: 100%;
        height: 300px;
        margin: auto;
    }

    @media (min-width: 600px) {
        width: 500px;
    }
}
